.test { 
  z-index: -1;
  border:dotted;
  height: 8em;
  width: 40%;
  margin-bottom: 4em;
  
}
.exam { 
  position: absolute;
  z-index: 45685; 
  background:blue;
  width: 80%;
  left: 60px;
  top: 5em;
}
.finalexam { 
  position: absolute;
  z-index: 0; 
  background:orangered;
  width: 20%;
  left: 65%;
  top: 40px;
  height: 8em;

}
